* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
} 
*  ::-webkit-scrollbar{
    display: none;
  }


@font-face {
  font-family: "NotoSansKR-VariableFont_wght";
  font-weight: normal;
  src: url("./font/Noto_Sans_KR/NotoSansKR-VariableFont_wght.ttf") format("truetype");
}

textarea {
  font-family: "NotoSansKR-VariableFont_wght";
}